@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

body, html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}

.fixed-container {
  width: 96%;
  margin: 0 auto;
}

header {
  padding: 0 4px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 12px;
}

.nav__box {
  width: 40%;
  padding: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav:first-child {
  padding: 0 0 0 4px;
}

.nav__box li a {
  color: #70757a;
}

.nav__menu-button {
  background: url("../img/menu.svg") no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
}

.nav__box_space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__tools-button {
  background: url("../img/dots-menu.svg") no-repeat;
  background-size: contain;
  background-position: right;
  width: 16px;
  height: 16px;
  padding: 0 0 0 34px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.nav__login-button {
  background-color: #1a73e8;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

main {
  height: 602px;
}

.logo {
  width: 160px;
  height: 56px;
  margin: 63px auto 27px;
  display: block;
}

.search-field::-webkit-clear {
  width: 0;
  height: 0;
  display: none;
}

.search-field {
  width: 100%;
  height: 40px;
  /* margin: 0 auto; */
  display: block;
  border-radius: 20px;
  border: 1px solid #dadce0;
  padding: 0 0 0 20px;
  background: url("../img/search-logo.svg") no-repeat, url("../img/voice-search-logo.svg") no-repeat;
  background-size: 24px 24px;
  background-position: 2% center, 98% center;
}

footer {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
}

footer a {
  color: #70757a;
}

footer > *:not(:first-child) {
  font-size: 13px;
}

.country-box {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.location-box {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
}

.location-box b {
  color: #3c4043;
}

.footer-nav {
  height: 91px;
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
